

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;

}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5%;

}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app  h2 img {
    width: 2rem;
    margin-left: 1rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 2rem;
    padding-left: 20px;
    margin-bottom: 3rem;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
}

button {
    border: none;
    outline: none;
    padding: 1rem 3rem;
    background: #ff5945;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3rem;
}

ul li {
    list-style: none;
    font-size: 1rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    /*border-radius: 50%;*/
    background-image: url("assets/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url("assets/checked.png");
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 22px;
    color: #555555;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 300ms;
}

ul li span:hover {
    background: #edeef0;
}